{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock %}

{% block javascripts %}  
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(function(){
            $('table#liste-shows').DataTable();
            
            //
            $('td.switchable').on('dblclick', function(event) {
                let $td = $(this);
                let idShow = $(this).attr('data-ref');
                let bookable = $(this).text();
                //console.log(idShow);
                const API_URL = 'http://localhost/reservationsSymfony/public/index.php/';
                
                $.ajax({
                    method: "POST",
                    url: API_URL+'show/switchBookable/'+idShow,
                    data: { idShow: idShow, bookable: bookable }
                }).done(function( msg ) {
                    if(bookable=='No') {
                        $td.text('Yes');
                    } else {
                        $td.text('No');
                    }
                }).fail(function(){
                    console.log('Erreur API');
                });
            });
            
        });
    </script>
{% endblock %}

{% block title %}Liste des spectacles{% endblock %}

{% block body %}
    <h1>Liste des spectacles</h1>

    <table id="liste-shows" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Slug</th>
                <th>Title</th>
                <th>Poster_url</th>
                <th>Bookable</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for show in shows %}
            <tr>
                <td>{{ show.id }}</td>
                <td>{{ show.slug }}</td>
                <td>{{ show.title }}</td>
                <td>{{ show.posterUrl }}</td>
                <td class="switchable" data-ref="{{ show.id }}">{{ show.bookable ? 'Yes' : 'No' }}</td>
                <td>{{ show.price }}</td>
                <td>
                    <a href="{{ path('show_show', {'id': show.id}) }}">show</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('show_edit', {'id': show.id}) }}">edit</a>
                    {{ include('show/_delete_form.html.twig') }}
                {% endif %}    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('show_new') }}">Create new</a>
{% endif %}    
{% endblock %}
